node_modules/

cypress/screenshots/
cypress/videos/
cypress/downloads/

Senior QA Test (3) (1).pdf
front-main.js

cypress.env.json
.env
.env.*
!.env.example

*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

.DS_Store
Thumbs.db
